extends layout

block content
    h1 #{title}
    form(method='POST', action='/sports/edit/'+sport._id)
        br
        h1 #{title}
        br
        #form-group
            label Id:
            input.form-control(name='id', type='text', value=sport.id)
        #form-group
            label Author:
            input.form-control(name='author', type='text', value=sport.author)
        #form-group
            label Name:
            input.form-control(name='name', value= sport.name)
        br
        input.btn.btn-primary(type='submit', value='Submit')
