doctype
html
    head
        title SportApp
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        //-CSS
        link(rel='stylesheet' href='/css/style.css')
        //-link(rel='stylesheet', href='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css')

    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
            .container
                .navbar-header
                    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/') SportApp
                #navbar.collapse.navbar-collapse
                    ul.nav.nav-tabs.nav-justified
                        li
                            a(href='/') Naslovna
                        if user
                            li
                                a(href='/sports/add') Dodaj Sport
                        if user
                            li
                                a(href='/leagues/add') Dodaj Ligu
                        if user
                            li
                                a(href='/clubs/add') Dodaj Klub
                        if user
                            li
                                a(href='/matches/add') Dodaj Utakmicu
                        if user
                            li
                                a(href='/sportovi') Sportovi
                        if user
                            li
                                a(href='/lige') Lige
                        if user
                            li
                                a(href='/klubovi') Klubovi
                        if user
                            li
                                a(href='/mecevi') Utakmice
                        if user
                            li 
                                a(href='/users/logout') Odjava
                            li
                                a(href='/users/register') Registracija
                        else
                            li
                                a(href='/users/login') Prijava

        .container
            //-Call the message template from: https://github.com/visionmedia/express-messages
            //-(message.pug)
            != messages('message', locals)
            if errors
                each error, i in errors
                    div(class="alert alert-danger") #{error.msg}
            block content
            br
            hr
            footer
                p Copyright &copy; 2019
            //-IMPORT BOWER, BOOTSTRAP AND JQUERY
            script(src='/bower_components/jquery/dist/jquery.js')
            script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
            //-script(src='http://code.jquery.com/jquery-1.11.1.min.js')
            //-script(src='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js')

            //-IMPORT main.js
            script(src='/js/main.js')