extends layout

block content
    h1=match.title
    h5 written by #{author}
    p= match.body
    hr
    if user
        br
        label Odaberite opciju koju želite u vezi meča:
        br
        //-if user.id ==match.author
        a.btn.btn-default(href='/matches/edit/'+match._id) Edit
        a.btn.btn-danger.delete-match(href='#', data-id=match._id) Delete
